//thins like colors, font sizes

// for more colors:
// https://mycolor.space/?hex=%231F9504&sub=1

$color-primary: #005a6e;
$color-primary-darker: #2f4858;
$color-primary-lighter: #006b75;
$color-secondary: #00d081;
$color-secondary-darker: #008a48;
$color-between-primary-secondary: #007c68;
$color-white: white;
$color-grey-light: #eeeeee;

// font
$default-font-size: 1.6rem;

// margins
$margin-small: 0.5rem;
